body {
	font-family: "PT Sans", "Arial", serif;
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	font-weight: normal;
}

h1 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
}

h2 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
}